 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1113px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 707px;
  margin: 28px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 58px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 915px;
  grid-gap: 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-1 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  margin: 37px 40px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -128px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 178px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-1 .u-image-1 {
    height: 155px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-2 {
    height: 155px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-3 {
    height: 155px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-4 {
    height: 155px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-5 {
    height: 155px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-6 {
    height: 155px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-7 {
    height: 155px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }

  .u-section-1 .u-image-8 {
    height: 155px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
    width: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 1214px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1226px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 2152px;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
  }

  .u-section-1 .u-image-3 {
    height: 254px;
  }

  .u-section-1 .u-image-4 {
    height: 254px;
  }

  .u-section-1 .u-image-5 {
    height: 254px;
  }

  .u-section-1 .u-image-6 {
    height: 254px;
  }

  .u-section-1 .u-image-7 {
    height: 254px;
  }

  .u-section-1 .u-image-8 {
    height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 3808px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -3758px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 413px;
  }

  .u-section-1 .u-image-2 {
    height: 413px;
  }

  .u-section-1 .u-image-3 {
    height: 413px;
  }

  .u-section-1 .u-image-4 {
    height: 413px;
  }

  .u-section-1 .u-image-5 {
    height: 413px;
  }

  .u-section-1 .u-image-6 {
    height: 413px;
  }

  .u-section-1 .u-image-7 {
    height: 413px;
  }

  .u-section-1 .u-image-8 {
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 2516px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -2466px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
  }

  .u-section-1 .u-image-2 {
    height: 254px;
  }

  .u-section-1 .u-image-3 {
    height: 254px;
  }

  .u-section-1 .u-image-4 {
    height: 254px;
  }

  .u-section-1 .u-image-5 {
    height: 254px;
  }

  .u-section-1 .u-image-6 {
    height: 254px;
  }

  .u-section-1 .u-image-7 {
    height: 254px;
  }

  .u-section-1 .u-image-8 {
    height: 254px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 707px;
  margin: 47px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 76px auto 47px -7px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 915px;
  grid-gap: 25px 25px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-5 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-6 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-13 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-7 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-15 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-8 {
  height: 195px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-17 {
  width: 134px;
  font-style: italic;
  margin: 47px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18.75px));
    min-height: 748px;
  }

  .u-section-2 .u-image-1 {
    height: 155px;
  }

  .u-section-2 .u-image-2 {
    height: 155px;
  }

  .u-section-2 .u-image-3 {
    height: 155px;
  }

  .u-section-2 .u-image-4 {
    height: 155px;
  }

  .u-section-2 .u-image-5 {
    height: 155px;
  }

  .u-section-2 .u-image-6 {
    height: 155px;
  }

  .u-section-2 .u-image-7 {
    height: 155px;
  }

  .u-section-2 .u-image-8 {
    height: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 2152px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
  }

  .u-section-2 .u-image-2 {
    height: 254px;
  }

  .u-section-2 .u-image-3 {
    height: 254px;
  }

  .u-section-2 .u-image-4 {
    height: 254px;
  }

  .u-section-2 .u-image-5 {
    height: 254px;
  }

  .u-section-2 .u-image-6 {
    height: 254px;
  }

  .u-section-2 .u-image-7 {
    height: 254px;
  }

  .u-section-2 .u-image-8 {
    height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 413px;
  }

  .u-section-2 .u-image-2 {
    height: 413px;
  }

  .u-section-2 .u-image-3 {
    height: 413px;
  }

  .u-section-2 .u-image-4 {
    height: 413px;
  }

  .u-section-2 .u-image-5 {
    height: 413px;
  }

  .u-section-2 .u-image-6 {
    height: 413px;
  }

  .u-section-2 .u-image-7 {
    height: 413px;
  }

  .u-section-2 .u-image-8 {
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 264px;
  }

  .u-section-2 .u-image-2 {
    height: 264px;
  }

  .u-section-2 .u-image-3 {
    height: 264px;
  }

  .u-section-2 .u-image-4 {
    height: 264px;
  }

  .u-section-2 .u-image-5 {
    height: 264px;
  }

  .u-section-2 .u-image-6 {
    height: 264px;
  }

  .u-section-2 .u-image-7 {
    height: 264px;
  }

  .u-section-2 .u-image-8 {
    height: 264px;
  }
}